<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="landing.css">
	<link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="navbar_btn.css">
	<title></title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
	  <a id="nav-brand" class="navbar-brand" href="/campgrounds">YelpCamp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto"></ul>
	    <% if(!user) {%>
	     <a class="nav-item" href="/login" tabindex="-1">Login</a>
	     <a class="nav-item" href="/register" tabindex="-1">Sign Up</a>
	    <%} else {%>
	     <a class="nav-item" href="/logout" tabindex="-1">Log Out</a>
	     <%}%>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>

	<div class="box">
		<div class="container row">
			<h1 id="heading">Welcome to YelpCamp</h1>
			<a id="btn" class="btn-full"href="/campgrounds">View All Campgrounds</a>
		</div>	
	</div>
	
</body>
</html>
	
