@import "https://fonts.googleapis.com/css2?family=Poppins&family=Courgette&family=Lato&display=swap";

/*//////////BODY//////////////*/

body {
	background: linear-gradient(-45deg, #ee7752 ,#e73c7e,#23a6d5, #23d5ab);
	height: 100vh;
	background-size: 400% 400%;
	animation: change 10s ease-in-out infinite;
	max-width: 100vw;
}

.box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 1100px;
}

#heading {
	font-family: Poppins;
	color: white;
	margin:10% 2% 2% 2%;
	font-size: 6em;
}

/*///////////RESPONSIVE DETAILS///////////*/


@media only screen and (max-width: 600px)
{
 html 
  {
	font-size: 7px;
  }
}

@media only screen and (min-width: 600px) 
{
  html 
  {
	font-size: 13px;
  }
}

@media only screen and (min-width: 768px)
{
  html 
  {
	font-size: 14px;
  }
}

@media only screen and (min-width: 992px)
{
  html 
  {
	font-size: 14px;
  }
}

@media only screen and (min-width: 1200px)
{
  html 
  {
	font-size: 15px;
  }
}

/*////////////////////////////////*/